/*
/.*

!/README.md
!/.gitignore

!/.profile
!/.bashrc
!/.bash_aliases
!/.gitconfig
!/.tool-versions

!/bin/sync.sh

!/.config
/.config/*
!/.config/starship.toml
!/.config/git/ignore
!/.config/zellij
!/.config/nvim
